/* imported font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 html {
     scroll-behavior: smooth;
 }
*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    font-size: 2rem;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../photos/body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 
/* Header (logo and title) */
.header {
    height:177px;
    width:100%;
    padding: 1rem 0;
    background:#00ffff;
    display:flex;
    align-items: center; 
    overflow: auto;
}

.logo, .tit{
    display: inline-block;
}

.logo1{
     width: 12rem;
}

.tit {
    font-size: 1.7rem;
    color: #0a8e00;
    margin-left: 1.3em;
}

/* navigation menu */
nav {
    margin: 0.7rem;
    width: 80vw;
    height: 5.5rem;
    position: sticky;
    top: 1rem;
    left: 100%;
    background-color: rgba(0,0,0,0.47);
    border-radius: 1.5rem;
    font-size: 1.85rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
    z-index: 1;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: #11f100;
}
nav a:visited {
    colr: #0a8e00;
}
nav a:hover, nav a:focus{
    color: #ce2a21;
    text-decoration: underline;
    font-size: 2.275rem;
}
nav a:active {
    coor: #ce2a21;
    text-decolation: underline;
    font-size: 2.275rem;
}


/* Admission for 100level */
.admiss {
    margin: 1.5rem 0 10rem 0; 
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../photos/div1.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
}
.admiss img {
    height: 14rem;
    width: 14rem;
    border-radius: 7rem;
    position: relative;
    top: 0;
    left: 36%;
} 
.admiss p {
    text-align: justify;
}
.admiss h2 {
    text-align: center;
}
.admiss a{
    color: #ff9e00;
    text-decoration: none;
}
.admiss a:visited{
    color: #d100d6;
}

/* Master degree */
.masters {
    margin: 6rem 0 10rem 0; 
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../photos/div2.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    padding: 5rem 1.5rem 1rem 1.5rem;
    height: 26rem;
    font-size: 2.5rem;
}
.masters p {
    text-align: justify;
    font-size: 2.8rem;
}
.masters h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}
.masters a {
    color: #ff9e00;
    text-decoration: none;
}
.masters a:visited {
    color: #d100d6;
}


/* vision */
.vision {
    margin: 7rem 0 10rem 0; 
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../photos/div3.jpg");
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    padding: 5rem 1.5rem 2rem 1.5rem;
    font-size: 2.5rem;
    
}
.vision p {
    text-align: justify;
    font-size: 1.8rem;
    line-height: 3rem;
    letter-spacing: 0.05rem
    word-spacing: 0.2rem;
}
.vision h2 {
    text-align: center;
    margin-bottom: 2.5rem;
}
.vision span {
    font-weight: bold;
}
